/hello-world/.claude
/hello-world/.expo
/hello-world/.vscode
/hello-world/node_modules

/node_modules
package-lock.json

/aula-02/.claude
/aula-02/.expo
/aula-02/node_modules

/aula-03-as/.claude
/aula-03-as/.expo
/aula-03-as/node_modules

/aula-03-tabs/.claude
/aula-03-tabs/.expo
/aula-03-tabs/node_modules
